* {
    /* Свойства для сброса начальных стилей элементов */
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal; 
    box-sizing: border-box;  
    color: #303030;   
}

header {
    /* Стили для хедера */
    background-color: #2965F1;
    padding: 23px 0;
}

header span {
    /* Стили для текста в хедере IT-INCUBATOR */
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
}

.main-section {
    /* Стили для первой секции */
    background-color: #FAFAFF;
    padding: 60px 0;
    min-height: 100vh;
}

.main-title {
    /* Стили для заголовка в первой секции */
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 20px;
}

.main-text {
    /* Стили для текста в первой секции */
    font-weight: 400;
    font-size: 18px;
}

.main-image {
    /* Стили для изображения в первой секции */
    max-width: 715px;
}


.about-section {
    /* Стили для второй секции */
    background-color: #fff;
    padding: 100px 0 60px 0;
}

select {
    /* Стили для выпадающего списка */
    width: 150px;
    padding: 9px 12px;
    font-weight: 400;
    font-size: 16px;
}

.section-title {
    /* Стили для заголовков во второй секции */
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 25px;
}

.frameworks-list {
    /* Стили для маркированного списка во второй секции */
    list-style-image: url(./images/solar_map-arrow-up-bold.svg);
    padding-left: 25px;
}

.books-list {
    /* Стили для нумерованного списка во второй секции */
    font-weight: 400;
    font-size: 16px;
    padding-left: 20px;
}

.label {
    /* Стили для подписей чекбоксов */
}

.text-field {
    /* Стили для односточного поля ввода текста */
}

.btn {
    /* Стили для кнопки */
}

.line {
    /* Стили для линии */
}

table {
    /* Стили для таблицы */
}

th, td {
    /* Стили для ячеек таблицы */
}

footer {
    /* Стили для футера */
}

.footer-link {
    /* Стили для футера */
}